#body{
    width: 400px;
    height: 200px; 
    /* TODO | update hight to height: auto; */
    background-color: aqua;
    margin: auto;
}

#clock{
    margin: 0;
    width: 100%;
    height: 200px;
    text-align: center;
    color: black;
    font-family: cursive;
}